.text-light {
    color: $light !important;
}
.text-stable {
    color: $stable !important;
}
.text-positive {
    color: $positive !important;
}
.text-calm {
    color: $calm !important;
}
.text-balanced {
    color: $balanced !important;
}
.text-energized {
    color: $energized !important;
}
.text-assertive {
    color: $assertive !important;
}
.text-royal {
    color: $royal !important;
}
.text-dark {
    color: $dark !important;
}
.text-dark-title {
    color: #848484 !important;
}
.text-large {
    font-size: 120% !important;
}
.text-bold {
    font-weight: 700 !important;;
}