<form solo-form name="vm.formOrigin" ng-submit="vm.submitOrigin()" novalidate>
    <ion-modal-view class="">
        <ion-header-bar class="bar bar-header bar-positive item-icon-right" style="background-image: none;">
            <h1 class="title">Pickup Location</h1>
            <i class="icon ion-close-round ion-large icon-accessory" ng-click="vm.cancelOrigin()"></i>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <div solo-form-group>
                    <label class="item item-input">
                        <span class="text-dark-title input-label">City: </span>
                        <input type="text" name="city" ng-model="vm.data.origin.city" class="text-right" placeholder="Enter City" style="font-size: 16px" required>
                    </label>
                    <div solo-form-group-errors="vm.formOrigin.city" label="City"></div>
                </div>

                <div solo-form-group>
                    <label class="item item-input item-select">
                        <div class="text-dark-title input-label">
                            State:
                        </div>
                        <select ng-options="state.abbreviation as state.name for state in vm.states"  ng-model="vm.data.origin.state" ng-class="{ 'text-soft': !vm.data.origin.state }" style="font-size: 16px" name="state" required>
                            <option value="">- Select State -</option>
                        </select>
                    </label>
                    <div solo-form-group-errors="vm.formOrigin.state" label="State"></div>
                </div>

                <div solo-form-group>
                    <label class="item item-input item-select">
                        <div class="text-dark-title input-label">
                            Radius:
                        </div>
                        <select ng-options="milesOption as milesOption for milesOption in vm.milesOptions"  ng-model="vm.data.origin.miles" ng-class="{ 'text-soft': !vm.data.origin.miles }" style="font-size: 16px" name="miles" required>
                            <option value="">- Select Miles -</option>
                        </select>
                    </label>
                    <div solo-form-group-errors="vm.formOrigin.miles" label="Miles"></div>
                </div>
            </div>
        </ion-content>
        <ion-footer-bar class="solo-footer-button bar-footer-action-center">
            <button type="submit" class="button button-positive button-block top-0 bottom-0" ladda="vm.formOrigin.loading" ng-disabled="vm.formOrigin.$invalid || vm.formOrigin.$submitted">
                <h4 class="text-light bottom-0"> {{vm.formOrigin.$invalid ? 'Please Complete Form' : 'Enter'}} </h4>
            </button>
        </ion-footer-bar>
    </ion-modal-view>
</form>
